/*--------------------
        variables
-------------------*/
:root {
    --white-color: #ffffff;
    --primary-color: hsla(82.5, 100%, 74.9%, 1);

    --dark-color: rgb(8, 31, 52);
    --secondary-color: #717275;

    --body-font-family: "Space Mono", monospace;

    --h1-font-size: 74px;
    --h2-font-size: 46px;
    --h3-font-size: 32px;
    --h4-font-size: 28px;
    --h5-font-size: 24px;
    --h6-font-size: 18px;
    --p-font-size: 18px;
    --btn-font-size: 14px;
    --text-xl: 200px;
 

    --border-radius-medium: 20px;

    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
}

body {
    background-color: var(--dark-color);
    font-family: var(--body-font-family);
}

/*------------------------ 
        typography
------------------------*/

h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-weight-bold);
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

h4 {
    font-size: var(--h4-font-size);
}

h5 {
    font-size: var(--h5-font-size);
}

h6 {
    font-size: var(--h6-font-size);
}

p {
    color: var(--secondary-color);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-light);
}


a,
button {
    touch-action: manipulation;
    transition: all 0.3s;
}

a {
    display: inline-block;
    color: var(--secondary-color);
    text-decoration: none;
}

b,
strong {
    font-weight: var(--font-weight-bold);
}


.text-xl {
    font-size: var(--text-xl);
}
.text-sm {
    font-size: var(--text-sm) !important;
}

.text-color {
    color: var(--primary-color);
}

.rad-med {
    border-radius: var(--border-radius-medium);
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.hover:hover {
    color: var(--primary-color);
    filter: invert(0.4);
}
/*------------------------
        sections
------------------------*/
.section-padding {
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-overlay {
    background-color: var(--dark-color);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    opacity: 0.35;
}

.section-overlay+.container {
    position: relative;
}

/*-- -----------
    navbar
-------------*/

.navbar {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    top: 0;
    z-index: 9;
    width: 100%;

}


.navbar-expand-lg .navbar-nav .nav-link {
    margin: 10px;
    padding: 10px 20px;
}

.navbar-nav .nav-link {
    color: var(--primary-color);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-normal);
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    filter: invert(0.4);
}

.navbar-toggler {
    border: 0;
    padding: 0;
    cursor: pointer;
    margin: 0;

}

.navbar-toggler-icon {
    /*** did you know theres a tool to encode svg links into css??? ***/
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(204, 255, 51, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


/*----------------------
        hero
------------------------*/

.hero-section {
    background: url('pics/header-bg.jpg') center center/cover no-repeat;
    height: 90vw;
    max-height: 90vh;
    border-bottom: var(--primary-color);
    border-bottom-style: solid;
    color: var(--primary-color);
    padding-top: 100px;
}

.hero-section-spaceship {
    background: url('pics/spaceship.jpg') center center/cover no-repeat;
    position: relative;
    overflow: hidden;
    padding-top: 100px;
    height: 90vh;
    border-bottom: var(--primary-color);
    border-bottom-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--primary-color);
}

.hero-section-coverings {
    background: url('pics/Bodily-Coverings.jpg') center center/cover no-repeat;
    position: relative;
    overflow: hidden;
    padding-top: 100px;
    height: 90vh;
    border-bottom: var(--primary-color);
    border-bottom-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--primary-color);
}

.hero-section-cart {
    background: url('pics/cart.webp') center center/cover no-repeat;
    position: relative;
    overflow: hidden;
    padding-top: 100px;
    height: 90vh;
    border-bottom: var(--primary-color);
    border-bottom-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--primary-color);
}

.top-text {
    top: 0;
}

.bottom-text {
    margin-top: 15vw;
}


/*------------------------
        about
------------------------*/
.about-section {
    background-image: url('pics/space.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.about-section-spaceship {
    background-color: var(--dark-color);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.about-text-info {
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: var(--border-radius-medium);
    border: 1px solid rgba(209, 213, 219, 0.3);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 20px;
    padding: 35px;
}

.earth-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.earth-image {
    transition: transform 0.1s ease-out;
}

/*------------------------
        button
------------------------*/
.btn-btt {
    width: 48px;
    height: 48px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

@keyframes rotate-ship {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-15deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* Apply the animation on hover */
.btn-btt:hover img {
    animation: rotate-ship 1s infinite;
}

/*--------------
    schedule
 ----------------*/
.schedule-section {
    background-color: var(--dark-color);
}

.schedule-table {
    border-radius: var(--border-radius-medium);
    position: relative;
    overflow: hidden;
}


.schedule-table th,
.schedule-table tr,
.schedule-table td {
    border-bottom-color: transparent;
    padding: 30px;
}

.schedule-table tr:last-child th,
.schedule-table tr:last-child td {
    border-bottom-color: transparent;
}

.schedule-table thead th {
    border-right: 1px solid var(--secondary-color);
    border-bottom-color: transparent;
}

.schedule-table th+td {
    border-bottom: 0;
}

.schedule-table thead th:last-child {
    border-right-color: transparent;
}

/*** all the images  ***/
.schedule-table .Chilling-background-image {
    background-image: url('https://images.unsplash.com/photo-1499532744860-fb7526b66e7b?q=80&w=2744&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.schedule-table .flight-background-image {
    background-image: url('https://images.unsplash.com/photo-1687985826611-80b714011d0b?q=80&w=2664&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.schedule-table .boys-background-image {
    background-image: url('https://media.istockphoto.com/id/527138615/photo/the-mothership-has-arrive.webp?b=1&s=170667a&w=0&k=20&c=ZsJxgprjU5KiPDZjNRyHN5KxOUlsh6KNzqGFpIWugbI=');
}

.schedule-table .probing-background-image {
    background-image: url('https://media.istockphoto.com/id/527138615/photo/the-mothership-has-arrive.webp?b=1&s=170667a&w=0&k=20&c=ZsJxgprjU5KiPDZjNRyHN5KxOUlsh6KNzqGFpIWugbI=');
}

.schedule-table .vaca-background-image {
    background-image: url('https://media.istockphoto.com/id/1479510452/photo/one-man-with-alien-mask-eating-alone-inside-a-fast-food-store-bad-food-hamburger-and-french.jpg?s=612x612&w=0&k=20&c=MQkSzu6zXYAG7l6NvMOmu1qFaVtqKQzMV5DSyMRLFlw=');
}

.table-background-image-wrap {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: none;
    position: relative;
}

.schedule-table h3,
.schedule-table p {
    color: var(--primary-color);
    position: relative;
    z-index: 2;
}

/*----------------------
        products
 ------------------------*/

.product-section {
    background-color: var(--dark-color);
    z-index: 1;

}

.product-section .product-item {
    text-align: center;
    text-decoration: none;
    display: block;
    position: relative;
    padding-bottom: 100px;
    cursor: pointer;
    z-index: 2;
}

.product-section .product-item .product-thumbnail {
    margin-bottom: 30px;
    position: relative;
    top: 0;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.product-section .product-item .buy-icon {
    position: absolute;
    width: 70px;
    height: 70px;
    display: inline-block;
    background: #2f2f2fb0;
    bottom: 15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-bottom: -17.5px;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    z-index: 3;
}

.product-section .product-item .buy-icon img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.product-section .product-item:before {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    content: "";
    background: #ceff7f4d;
    height: 0%;
    z-index: 0;
    border-radius: 10px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.product-section .product-item:hover .product-thumbnail {
    top: -25px;
}

.product-section .product-item:hover .buy-icon {
    bottom: 0;
    opacity: 1;
    visibility: visible;
}

.product-section .product-item:hover:before {
    height: 70%;
}

/*----------------------
        product top
 ------------------------*/

.service-icon {
    border-radius: 10px;
    flex: 0 0 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #3b5d50;
    margin-right: 20px;
    color: #ffffff;
}
.product-line {
        border-bottom: 1px solid;
        border-color: #ceff7fa1;
        bottom: 0;
        left: 0;
        padding-bottom: 40px;
        width: 100%;
}
/*------------------------
         moving text 
------------------------*/
.moving-text-section {
    background-color: transparent;
    padding: 10px 0;
    overflow: hidden;
    border-top-style: solid;
    border-bottom-style: solid;
    position: relative;
    border-color: var(--primary-color);
}

.moving-text {
    display: flex;
    white-space: nowrap;
    animation: moveLeft 20s linear infinite;
}

.moving-content {
    display: flex;
    white-space: nowrap;
}

.moving-item {
    display: inline-block;
    margin: 0 20px;
    font-weight: bold;
    white-space: nowrap;
}

@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/****************** 
        FAQs 
**********************/
.faq-section {
    background-image: url(pics/spacecut.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

/*** pain ITA vars ***/
.accordion {
    --bs-accordion-active-bg: none;
    --bs-accordion-color: var(--primary-color);
    --bs-accordion-btn-color: var(--primary-color);
    --bs-accordion-active-color: var(--primary-color);
    --bs-accordion-btn-focus-border-color: var(--primary-color);
    --bs-accordion-border-width: 0px;
    --bs-accordion-bg: transparent;
}

/*** getting rid of focus outline ***/
.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, .125);
}

/*** custum buttons ***/
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='hsla(82.5, 100%25, 74.9%25, 1)' class='bi bi-plus-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2'/%3E%3C/svg%3E");
    transition: all 0.5s;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='hsla(82.5, 100%25, 74.9%25, 1)' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8'/%3E%3C/svg%3E");
}

/****************** 
        footer 
**********************/
.footer {
    background: url(pics/Footer_bg.png) center center no-repeat;
    background-size: cover;
    mix-blend-mode: normal;
    text-align: center;
}

.footer a {
    color: var(--primary-color);
}
.overlay {
    background: url(pics/background.png);
        background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: none;
    position: relative;
}

/*boxes fade*/
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-up {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.fade-up.visible {
    opacity: 1;
    transform: translateY(0);
}

/*************************** 
        Media queries 
****************************/
@media (min-width: 1500px) and (max-width: 2600px) {
    .hero-section {
        min-height: 1000px;
    }
}

@media (max-width: 1470px) {
    .text-xl {
        font-size: 14vw;
    }

    .bottom-text {
        margin-top: 19vw;
    }

}

@media (max-width: 977px) {
    .text-xl {
        font-size: 20vw;
    }

    .bottom-text {
        margin-top: 2vw;
    }
}

@media (max-width: 768px) {
    .hero-section {
        height: 160vw;
    }

    .text-xl {
        font-size: 32vw;
    }
}

@media (max-width: 583px) {
    .hero-section {
        height: 180vw;
    }
}

@media (max-width: 425px) {
    .text-xl {
        font-size: 32vw;
    }
    :root {
        --text-sm: 13px;
    }
}